<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MYoutube</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
    </head>

    <body>
        <div>
            <div class="bars">
                <div class="top-bar">

                </div>

                <div class="left-bar">

                </div>
            </div>

            <div class="main-screen">
                
            </div>
        </div>
    </body>
</html>