<!DOCTYPE html>
<html>
    <head>
        <title>Pendurar Video</title>
    </head>

    <body>
        <div>
            <form method="POST" name="form-new-video">
                <input type="text" name="title" id="title" required>
                <input type="text" name="description" id="description" required>
                <input type="file" accept="file/*" name="file" id="file" required>

                <button type="submit">Enviar</button>
            </form>
        </div>

    </body>
</html>